.slider{
  height: calc(110vh - 80px);
  width: 100vw ;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  display: inline;
  /* float: top; */

}    
        

.container{
  height: calc(110vh - 80px);
  display: flex;
    
  width: 300vw !important;
  transform: translateX(0vw);
  transition: 1s ease;
  background-color: black;
  

}
.slidecont{
  width: 100vw !important ;
  height: 100%;
  position: relative;
}
.slideimg{
  width: 100vw;
  object-fit: cover;
  height: 100%;
  z-index: -1;
  filter: opacity(0.5);
  
  
  
}
.slidedesc{
  position: absolute;
  top: 20px;
  left: 90px;
  width: 40%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.arrow{
  display: flex;
  position:absolute;
  bottom: 100px;
  width:100px;
  margin: auto;
  left: 0;
  right: 0;
  gap: 10px;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  width: 45px; 
  height: 45px;
}
#bigslide{
  font-size:  120px !important;
   font-weight: 900 !important;
}
#slidechild{
  font-size: 25px;
  font-weight: 400;
}

@media screen and (max-width:1300px) {
  #bigslide{
    font-size: 90px !important;
  }
  #slidechild{
    font-size: 18px !important;
    font-weight: 600;
  }
  
}
@media screen and (max-width:800px) {
  #bigslide{
    font-size: 70px !important;
  }
  #slidechild{
    font-size: 15px !important;
    font-weight: bold !important;
  }
  .slidedesc{
    left: 40px !important;
  }
  
}
